/*화면 위치 설정*/
body {
  background-color: whitesmoke;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  align-items: top;
  justify-content: center;

  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
main {
  height: 600px;
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*4가지 블록 설정*/
main > div {
  height: 300px;
  width: 180px;
  background-color: white;

  position: relative;
  margin: 10px;
}

/*블록 색 넣을 블록 설정*/
div > div {
  height: 290px;
  width: 170px;

  margin: 5px;
}
/*블록 색 설정*/
main > :nth-child(1) > :first-child {
  background-color: tomato;
}
main > :nth-child(2) > :first-child {
  background-color: teal;
}
main > :nth-child(3) > :first-child {
  background-color: burlywood;
}
main > :nth-child(4) > :first-child {
  background-color: thistle;
}
/*블록 안 글자넣을 블록 설정 및 글자 설정*/
div > div + div {
  height: 90px;
  width: 170px;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 13pt;
  text-indent: 0.4em;

  position: absolute;
  top: 15px;
}

div > :nth-child(2) > :nth-child(2) {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 10pt;
  text-indent: 0.5em;
}
